{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Войти - Morph AI{% endblock %}

{% block content %}
<div class="content-form row justify-content-center">
    <div class="col-md-10 col-lg-10 col-xl-10">
        <div class="morph-card morph-card--professional">
            <div class="card-header">
                <h3 class="text-center">Войти</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
                
                <hr>
                <div class="text-center">
                    <p>Нет учетной записи? <a href="{% url 'accounts:signup' %}">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}